green {
    color: green;
}


red {
    color: red;
}


purple {
    color: purple;
}


.twitter-follow-button {
    font-size: 8px;
}


button {
    font-size: 8px;
    background-color: #FAE6F9;
}


/* Content */
.blog-container{
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 35px;
    background-color: white;
    grid-template-areas: 
    "ct ct ab"
    "ct ct ar"
    "ct ct el"
    ;
}


.blog-post {
    background-color: white;
    display: inline-block;
    padding: 10px;
    grid-area: ct;
    font-size: 6px;
}


.about {
    background-color: rgb(240, 238, 238);
    padding: 10px;
    grid-area: ab;
}


.archives {
    background-color: white;
    padding: 10px;
    grid-area: ar;
}


.elsewhere {
    background-color: white;
    padding: 10px;
    grid-area: el;
}