/* Footer */
.footer-container  {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-template-columns: fr;
    background-color: #F2F7F8;
}

.imprint {
    /*background-color: white;*/
    text-decoration: underline;
    font-size: 12px;
}