/* Footer */
footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #08a3c2;
    margin-top: 15px;
}

.imprint {
    text-decoration: underline;
    font-size: 12px;
}