.container {
    display: grid;
    border: 1px solid blue;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
    "hd hd hd"
    "main main main"
    "ft ft ft";
}


.box {
    display: flex;
    border: 1px solid blue;
}


/* Header */
.header-container{
    grid-area: hd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr ;
    background-color: cornsilk;
}


.subscribe {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}


.blogname {
    flex: 1;
    display: flex;
    justify-content: center;
}


.icon {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}


/* Content */
.content-container {
    grid-area: main;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-template-columns: fr;
    background-color: cadetblue;
}


.article {
    background-color: darksalmon;
    width: 400px;
    height: 200px;
}


/* Footer */
.footer-container  {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-template-columns: fr;
    background-color: darkgray;
}


.imprint {
    background-color: deeppink;
}