@import "blog-post.css";
@import "footer.css";

body {
    font-size: 16px;
}

.container {
    display: grid;
    /*border: 1px solid blue;*/
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
    "hd hd hd"
    "main main main"
    "ft ft ft";
}

.box {
    display: flex;
    /*border: 1px solid blue;*/
    font-family: 'Lora', serif;
}

/* Header */
.header-container{
    grid-area: hd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
}

.subscribe {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
}

.blogname {
    flex: 1;
    display: flex;
    justify-content: center;
}

.icon {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

#icon {
    max-width: 20px;
    height: auto;
}

.article {
    display: inline-block;
    border: 1px solid black;
    font-family: 'Lora', serif;
    background-color: white;
    padding: 10px;
    font-size: 12px;
}

/* Content */
.content-container {
    grid-area: main;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    padding: 35px;
    background-color: white;
}

@media (min-width: 600px) and (max-width: 900px) {
    /* Content */
    .content-container {
        grid-area: main;
        display: grid;
        grid-template-rows: 33% 33% 33%;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
        padding: 60px;
        background-color: white;
    }
    
    .article {
        display: inline-block;
        border: 1px solid black;
        font-family: 'Lora', serif;
        background-color: white;
        padding: 25px;
        font-size: 16px;
    }
}

@media (min-width: 901px) {
    /* Content */
    .content-container {
        grid-area: main;
        display: grid;
        grid-template-rows:50% 50%;
        grid-template-columns: 1fr 1fr;
        grid-gap: 35px;
        padding: 100px;
        background-color: white;
    }

    .article {
        display: inline-block;
        border: 1px solid black;
        font-family: 'Lora', serif;
        background-color: white;
        padding: 25px;
        font-size: 16px;
    }
}